#python setup.py sdist --force-manifest --formats=gztar,zip
#warning global-exclude doesn't work right in python 2.2 only in python2.3
include rhizome/*
include tests/*
include site/*
exclude site/test-config*.py
include blank/*
include docs/*
global-exclude .DS_Store *.bak *.bk? *.nt *.metarx *.pyc *.log *.lock *.tmp *.bpl *.prof *.db
include test/*.nt
recursive-include rhizome *.nt
global-exclude */CVS/*
global-exclude */.svn/*
global-exclude */sessions/*
global-exclude */contentindex/*
include COPYING
