body {
	margin: 0 1% 0 1%;
	padding: 0;
	font-size: 14px;
	font-family:"Trebuchet MS",arial, helvetica, sans-serif;
}

#mainTable {
    background-color: white;
	margin: 0 auto; 
	border: 1px solid #000;
	line-height: 1.25em; 

}

#mainTable td, #mainTable th {
	padding: 0px 0px 0px 0px; /*Pads each table cell in modern browsers: top, right, bottom, left*/
}

#contentTable td, #contentTable th {
	padding: 20px
}

#contentTable {
	border: 2px dotted #333;
	border-spacing: 0px;
	padding: 0px
}

#titlebar{
    background-color: #ffcc66;
	margin: 0 0;
	border-bottom: 1px solid #000;
	line-height: 1px; 
	font-size: 120%;
	font-weight: bold;
}

#titlerow {
	height:10px;
	vertical-align:top;
}	

#maincontent {
	font-size: 100%;
}

#maincontent table {
	border-spacing: 0px; 
	border-collapse: collapse;
}

#header {
	background-color: #EBEBB5; /* #EFE */
	color: black;	
}

#header * {
	padding: 1px;
}

#login-box {
    float: right;
    font-size: 80%;
    line-spacing: 0;
    
}

#login-box form {
    margin: 0 0 0 0;
}

#footer {
	background-color: #EBEBB5;/* #294563 #333333 */
	color: black;
}

#footer a, #header a {
  color: black
}


h1:first-child {margin-top: 0;}/*starts first heading in a TD flush top*/

h2:first-child {margin-top: 0;}/*starts first heading in a TD flush top*/

h1 { font-size: 140%; }

h2 { font-size: 130%; }

#sidebar {       
    background-color: #EBEBB5;
	font-size: 12px;
	/*/*/font-size: 85%; /* */
}

#sidebar a {
	/*/*/padding: 3px;
	display: block;
	border: 2px dotted #aaa;
	text-decoration: none;
	line-height: 1em;
	width: 100px; /* */
}

#sidebar a:link, #sidebar a:visited {
	color: black;
}

#sidebar a:hover, #sidebar a:active {
	color: black;
	background-color: #ffcc66;
	border: 2px solid #000;
}

#current a {
	color: #FFFFFF !important;
	/*/*/background-color: #999999!important;
	border: 2px dotted #999 !important; /* */
}

#sidebar ul {
	/*/*/padding-left: 0em;
	list-style-type: none;
	margin-left: 0em; /* */
}

#sidebar li {
	/*/*/margin: 0px 0px 0px 0px; /* */
}

/* entry content */
#maincontent td, #maincontent th {  
  border: 1px solid black;
  padding: 5px
}

/* for forrest skin: */

table .title {
    font-weight : bold;
    width:100%;
    border: 0px;
}

.dida { font-size: 80%; }

.pre { white-space: pre;}

.content { padding: 5px 5px 5px 10px; font : small Verdana, Helvetica, sans-serif;  font-size : 90%; }
.content .ForrestTable { width: 100%; background-color: #7099C5; color: #ffffff; font-size : 90%;}
.content .ForrestTable caption { text-align: left; color: black; font-weight: bold; }
.content .ForrestTable th { text-align: center; }
.content .ForrestTable td { background-color: #f0f0ff; color: black; }

.frame { margin: 5px 20px 5px 20px; font-size: 90%; }
.frame .content { margin: 0px; }

.note { border: solid 1px #7099C5; background-color: #f0f0ff; }
.note .label { background-color: #7099C5; color: #ffffff; }

.warning { border: solid 1px #D00000; background-color: #fff0f0; }
.warning .label { background-color: #D00000; color: #ffffff; }

.fixme { border: solid 1px #C6C600; background-color: #FAF9C3; }
.fixme .label { background-color: #C6C600; color: #ffffff; }

.code { border-color: #CFDCED; border-style: solid; border-width: 1px; 
       line-height: 1.25em; 
      }
.codefrag {	font-family: "Courier New", Courier, monospace; }

.highlight { background-color: yellow; }

.minitoc {margin: 5px 5px 5px 40px;}

.dtdElement { width: 100%;	font-size: 90%; background-color : #ffffff; }

.dtdTag {    color: #990000; text-transform : uppercase;  font-style : normal;  font-size : 120%;  font-weight : bold; }


@media print {
   .menu {
     display: none;
   }
}
