/*-------------------------------------------------------
/ The following are used by system files
------------------------------------------------------*/
.zmlannotation { display: none; }

a[rel~="rhizomename"] {
  background-color: #DEE7F8; /* light blue */
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 8px;
  border: thin solid #A4BDEC;	
  -moz-border-radius: 12px; 
  border-radius: 12px;
  /* behavior: url(border-radius.htc);   this doesn't work yet */
}

a[rel~="rhizomename"]:hover {
  background-color: #BBCEF1; /* darker blue */
}


/*-------------------------
/ used by diff-revisions.py (when comparing revisions)
-------------------------*/
table.diff {
	border:medium;
	font-family: "Courier New", Courier, monospace;
		font-family:Courier;
}
#difflib_chg_to0__top th, #difflib_chg_to0__top td {
	padding: 0px; 
	border-spacing: 0px; 
	border: 0px; 

		font-size: smaller; 
}  
.diff_header {
	background-color:#e0e0e0
}
td.diff_header {
	text-align:right; 
	border:0px;
}
.diff_next {
	background-color:#c0c0c0;
}
.diff_add {
	background-color:#aaffaa;
}
.diff_chg {
	background-color:#ffff77;
}
.diff_sub {
	background-color:#ffaaaa;
}
/*----------------------------------
/ Used by document2html.xsl
/-----------------------------------*/
.pre {
	white-space: pre;
}

table .title {
	width:100%;
	border:0px;
	font-weight:bold;
}

.ForrestTable {
	width:100%; 
	background-color: #7099c5; 
	font-size:90%;color:#ffffff;
}
.ForrestTable caption { 
	text-align: left; 
	font-weight: bold;color: black; 
	}
.ForrestTable th { 
	text-align: center;
}
.ForrestTable td {
	background-color: #f0f0ff; 
	color: black;
}
.codefrag {
	font-family: "Courier New", Courier, monospace;
}

/* used in search.xsl, showrevisions.xsl */
div .title {
	font-weight:bold;
}

/* used by document2html.xsl, edit-metadata.xsl, edit.xsl*/
.code {
	border: 1px solid #ccc;
	line-height: 1.25em; 
}

/* used by document2html.xsl */
.frame { margin: 5px 20px 5px 20px; font-size: 90%; }
.frame .content { margin: 0px; }
.note { border: solid 1px #7099C5; background-color: #f0f0ff; }
.note .label { background-color: #7099C5; color: #ffffff; }
.warning { border: solid 1px #D00000; background-color: #fff0f0; }
.warning .label { background-color: #D00000; color: #ffffff; }
.fixme { border: solid 1px #C6C600; background-color: #FAF9C3; }
.fixme .label { background-color: #C6C600; color: #ffffff; }

.codefrag {	font-family: "Courier New", Courier, monospace; }
.highlight { background-color: yellow; }
.minitoc {margin: 5px 5px 5px 40px;}

