#config file for Server.py 
#see http://cp1.cherrypy.org/static/html/tut/node17.html#SECTION0017200000000000000000 for more options
#in addition there are a few options in the [server] section that are not documented in the above link:

#defaultPageName='index' if the request URL doesn't include a path invoke the page with this name
#e.g. http://www.example.org/ is equivalent to http://www.example.org/index (default is 'index')

#if useSubDomainAsName=1 then the subdomain name of the request URL will be used as the page name 
#if the URL doesn't contain a path and the subdomain is not equal to 'www'
#e.g. http://foo.example.org/ and http://foo.example.org/index both will invoke the 'foo' page
#(default is 0)

#override the default server header sent with the HTTP response
#serverIdString="my_custom_server/0.1 (comments can go in parentheses)"

[server]
socketPort=8000


