.page {	/*rarely seen in normal size-to-browser-width layout (except with small page heights), seen much in fixed width layout*/
	background-color:#FFF!important;
}

.header {/* commonly uses sidebar or footer color */
	background-color:#933!important;
	color:#FFF!important;
}
.header a:link, .header a:visited {
	color:#FFF;
}
.header a:hover, .header a:active {
	color:#CC6;
}

.sidebar { /* commonly uses header or footer color */
	background-color:#933!important;
	color:#FFC;
}

.quicklinks a:link, .quicklinks a:visited {
	color:#FFC!important;
}
#quicklinks a:hover,#quicklinks a:active {
	padding:3px;
	color:#000!important;
	font-weight:bold;
	background-color:#FF9!important;
	text-decoration:none;
}
.actionstab {	
	background-color:#FFF;
	border-bottom-color:#FFF;
}

#actionsbar a:hover {
	background-color:#336;
	color:#FFF;
	text-decoration:none!important;
}
.selected-action-tab {	/* use page-title color */
	background-color:#FF9!important;
	border-bottom-color:#FF9!important;
	color:#003!important;
}

.selected-action-tab a:hover{
	text-decoration:none!important;
	font-weight:bold;
	background-color:#630!important;
	border-bottom-color:#630!important;
}

.page-title { /* matched to selected actiontab*/
	background-color:#FF9!important;
	color:#003!important;
}
.content {
	background-color:#FFF!important;
	color:#000;
}
.content a:link{
}
.content a:active{
}
.content a:hover{
}
.content a:visited{
}


.form {
	background-color:#FF9!important;
	color:#003!important;
}
#login-div a:hover {
	background-color:#336!important;
}

.navbar a {
	background-color:#FF9!important;
}
.navbar a:hover {
	background-color:#336!important;
	color:#FFF!important;
}

.footer {	/*commonly uses header or sidebar color*/
	background-color:#933!important;
	color:#FFF!important;
	font-weight:bold;
}

