.page {	
/* The whole body of the page.
(Rarely seen in normal size-to-browser-width layout
 (except with small page heights), seen much in fixed width)
*/
	background-color:#cc3!important;
}

.header {
/* same as sidebar and footer color */
	background-color:#cc3!important;
	color:#FFF!important;
}
.header a:link, .header a:visited {
	color:#FFF;
}
.header a:hover, .header a:active {
	color:#CC6;
}

.sidebar { 
    /* same as header or footer color */
	background-color:#cc3!important;
	color:#333;
}

.quicklinks a:link, .quicklinks a:visited {
	color:#666!important;
}

.quicklinks a:hover,.quicklinks a:active {
	padding:3px;
	color:#fff!important;
	font-weight:bold;
	background-color:#690!important;
	text-decoration:none;
}

.actionstab {
	background-color:#FFF;
	border-bottom-color:#FFF;
}

#actionsbar a:hover {
    /* this rule is specific to the default theme */
	background-color:#690!important;
	color:#FFF;
	text-decoration:none!important;
}

.selected-action-tab {	
    /* use page-title color */
	background-color:#690!important;
	border-bottom-color:#690!important;
	color:#fff!important;
}

.selected-action-tab a:hover{
	text-decoration:none!important;
	font-weight:bold;
	background-color:#630!important;
	border-bottom-color:#630!important;
}

.page-title { 
   /* matched to selected actiontab*/
	background-color:#690!important;
	color:#fff!important;
}
.content {
	background-color:#FFF!important;
	color:#000;
}
.content a:link{
}
.content a:active{
}
.content a:hover{
}
.content a:visited{
}

.site-form {
	background-color:#690!important;
	color:#fff!important;
}

#login-div a:hover {
	background-color:#666!important;
}

.navbar a {
	background-color:#690!important;
	color:#fff!important;
}
.navbar a:hover {
	background-color:#cc6!important;
	color:#333!important;
}

.footer {	/*commonly uses header or sidebar color*/
	background-color:#cc3!important;
	color:#FFF!important;
}

