.page_style {	/*rarely seen in normal size-to-browser-width layout (except with small page heights), seen much in fixed width layout*/
	background-color:#FFF!important;
}

.header_style {/* commonly uses sidebar or footer color */
	background-color:#993!important;
	color:#FFF!important;
}
.header_style a:link, .header_style a:visited {
	color:#FFF;
}
.header_style a:hover, .header_style a:active {
	color:#CC6;
}

.sidebar_style { /* commonly uses header or footer color */
	background-color:#960!important;
	color:#FFF;
}

.quicklinks_style a:link, .quicklinks_style a:visited {
	color:#FFF!important;
}
.actionstab_style {	
	background-color:#FFF;
	border-bottom-color:#FFF;
}

#actionsbar a:hover {
	background-color:#C60;
	color:#FFF;
	text-decoration:none!important;
}
.selected-action-tab_style {	/* use page-title color */
	background-color:#630!important;
	border-bottom-color:#630!important;
	color:#FFF!important;
}

.selected-action-tab a:hover{
	text-decoration:none!important;
	font-weight:bold;
	background-color:#630!important;
	border-bottom-color:#630!important;
}

.page-title_style {
	background-color:#630!important;
	color:#FFF!important;
}
.content_style {
	background-color:#FFF!important;
	color:#000;
}
.content_style a:link{
}
.content_style a:active{
}
.content_style a:hover{
}
.content_style a:visited{
}


.form_style {
	background-color:#C60!important;
	color:#000!important;
}
.navbar_style a {
	background-color:#C60!important;
}
.footer_style {	/*commonly uses header or sidebar color*/
	background-color:#960!important;
	color:#FFF!important;
	font-weight:bold;
}

